In [4]:
pip install numpy

Requirement already satisfied: numpy in c:\users\bikas\appdata\local\programs\python\python312\lib\site-packages (1.26.4)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import numpy as np

### Insert the data

In [2]:
import numpy as np
data=[30,32,40,24,56,20,34]
mean=np.mean(data)
print(mean)

33.714285714285715

In [2]:
import numpy as np
data=[30,32,40,24,56,20,34]
mean=np.mean(data)
print(mean)

33.714285714285715

In [3]:
import numpy as np
data=[30,32,40,24,56,20,34]
median=np.median(data)
print(median)

32.0

In [4]:
import numpy as np
data=[30,32,40,24,56,20,34]
mode=np.bincount(data).argmax()
print(mode)

20

### Create a csv file

In [6]:
pip install pandas

Collecting pandas
  Downloading pandas-2.2.2-cp312-cp312-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\bikas\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\bikas\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2024.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\bikas\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.2-cp312-cp312-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.5 MB 653.6 kB/s eta 0:00:18
   ---------------------------------------- 0.1/11.5 MB 1.2 MB/s eta 0:00:10
    --------------------------------------- 0.2/11.5 MB 1.7 MB/s eta 0:00:07
   - -------------------------------------- 0.5/11.5 MB 2.5 MB/s eta 0:00:05
   --- ------------------------------------ 0.9/11.5 MB 3.7 MB/s eta 0:00:03
   --- ------------------------------------ 1.1/11.5 MB 4.0 MB/s eta 0:00:03
   ------ --------------------------------- 1.8/11.5 MB 5.5 MB/s eta 0:00:02
   -------- ------------------------------- 2.4/11.5 MB 6.4 MB/s eta 0:00:02
   ---------- ----------------------------- 3.1/11.5 MB 7.4 MB/s eta 0:00:02
   ---------- ----------------------------- 3.1/11.5 MB 7.4 MB/s eta 0:00:02
   ----------- ---------------------------- 3.4/11.5 MB 6.6 MB/s eta 0:00:02
   ------------- -------------------------- 4.0/11.5 MB 7.0 MB/s eta 0:00:02
   ---------------- ----------------------- 4.8/11.5 MB 7.9 MB/s eta 0:00:01
   -------------------- ------------------- 5.8/11.5 MB 8.9 MB/s eta 0:00:01
   ----------------------- ---------------- 6.9/11.5 MB 9.8 MB/s eta 0:00:01
   --------------------------- ------------ 8.0/11.5 MB 10.7 MB/s eta 0:00:01
   ---------------------------- ----------- 8.1/11.5 MB 10.8 MB/s eta 0:00:01
   ------------------------------ --------- 8.7/11.5 MB 10.3 MB/s eta 0:00:01
   --------------------------------- ------ 9.7/11.5 MB 10.9 MB/s eta 0:00:01
   ------------------------------------- -- 10.8/11.5 MB 13.9 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.5 MB 15.2 MB/s eta 0:00:01
   ---------------------------------------- 11.5/11.5 MB 14.6 MB/s eta 0:00:00
Using cached pytz-2024.1-py2.py3-none-any.whl (505 kB)
Using cached tzdata-2024.1-py2.py3-none-any.whl (345 kB)
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.2.2 pytz-2024.1 tzdata-2024.1
Note: you may need to restart the kernel to use updated packages.

In [10]:
import pandas as pd
data = {
    'name':['rasi','susi','ajay','harsha','chinu'],
    'height':[175,289,445,23,544],
    'age':[22,33,44,55,66]
}
df = pd.DataFrame(data)
df.to_csv('data.csv')

In [11]:
df

     name  height  age
0    rasi     175   22
1    susi     289   33
2    ajay     445   44
3  harsha      23   55
4   chinu     544   66

In [1]:
import numpy as np
data=[8,10,15,20]
standard_deviation = np.std(data)
print(standard_deviation)

4.656984002549289