# Decimal Scaling

## 1.Import The Necessary Library:

In [11]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import FunctionTransformer

## 2.Create the Dataset:

In [4]:
data= {
    'bedroom':[1,2,3,4,5],
    'bathroom':[1,2,2,3,2],
    'sqrt_living':[500,1000,1500,2000,2500],
    'age of the house':[5,10,15,20,25],
    'price':[100000,150000,200000,250000,300000]
}

In [5]:
df=pd.DataFrame(data)

In [6]:
df

   bedroom  bathroom  sqrt_living  age of the house   price
0        1         1          500                 5  100000
1        2         2         1000                10  150000
2        3         2         1500                15  200000
3        4         3         2000                20  250000
4        5         2         2500                25  300000

# Create the Decimal Scaler Library

In [36]:
def decimal_scaler(X):
    max_abv= np.max(np.abs(X))
    scale = 10**np.ceil(np.log10(max_abv))
    return X/scale

# Applying the Decimal Scaling Tcehnique

In [37]:
transformer = FunctionTransformer(decimal_scaler)

# Fit the Data

In [38]:
decimal_scaling = transformer.fit_transform(df)

# Output after Decimal Scaling:

In [39]:
decimal_scaling

    bedroom  bathroom  sqrt_living  age of the house  price
0  0.000001  0.000001       0.0005          0.000005   0.10
1  0.000002  0.000002       0.0010          0.000010   0.15
2  0.000003  0.000002       0.0015          0.000015   0.20
3  0.000004  0.000003       0.0020          0.000020   0.25
4  0.000005  0.000002       0.0025          0.000025   0.30