# 2.Z-Score Normalization

## 1.1 Import the Necessary Libraries

In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

## 1.2 Create the Dataset

In [2]:
data= {
    'bedroom':[1,2,3,4,5],
    'bathroom':[1,2,2,3,2],
    'sqrt_living':[500,1000,1500,2000,2500],
    'age of the house':[5,10,15,20,25],
    'price':[100000,150000,200000,250000,300000]
}

In [3]:
df=pd.DataFrame(data)

## 1.3 Apply the Z-Score Normalization

In [20]:
scaler = StandardScaler()

## 1.4 Fit

In [21]:
normalized_data=scaler.fit_transform(df)

In [22]:
normalized_data

array([[-1.41421356, -1.58113883, -1.41421356, -1.41421356, -1.41421356],
       [-0.70710678,  0.        , -0.70710678, -0.70710678, -0.70710678],
       [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ],
       [ 0.70710678,  1.58113883,  0.70710678,  0.70710678,  0.70710678],
       [ 1.41421356,  0.        ,  1.41421356,  1.41421356,  1.41421356]])

## 1.5 Converting the Array to DataFrame

In [23]:
normalized_convert=pd.DataFrame(normalized_data,columns=df.columns)

In [24]:
normalized_convert

    bedroom  bathroom  sqrt_living  age of the house     price
0 -1.414214 -1.581139    -1.414214         -1.414214 -1.414214
1 -0.707107  0.000000    -0.707107         -0.707107 -0.707107
2  0.000000  0.000000     0.000000          0.000000  0.000000
3  0.707107  1.581139     0.707107          0.707107  0.707107
4  1.414214  0.000000     1.414214          1.414214  1.414214